<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <title>isaac db</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    </a>
    <a class="pro_pool" href="/">
        <span class="text_pool">Tous les items</span>
    </a>

    <container class="container_pool">
        <div class="bloc_pool">
            <a class="pro_pool angel_room" href="/?pool=Angel">
                <span class="text_pool"><img src="" alt="">Angel Room</span>
            </a>
            <a class="pro_pool devil_rool" href="/?pool=Devil">
                <span class="text_pool">Devil Room</span>
            </a>
            <a class="pro_pool item_room" href="/?pool=Item room">
                <span class="text_pool">Item Room</span>
            </a>
            <a class="pro_pool secret_room" href="/?pool=Secret">
                <span class="text_pool">Secret Room</span>
            </a>
            <a class="pro_pool challenge_room" href="/?pool=Challenge">
                <span class="text_pool">Challenge Room</span>
            </a>
            <a class="pro_pool shop" href="/?pool=Shop">
                <span class="text_pool">Shop</span>
            </a>
            <a class="pro_pool library" href="/?pool=Library">
                <span class="text_pool">Library</span>
            </a>
        </div>

        <div class="bloc_pool">
            <a class="pro_pool" href="/?pool=Beggar">
                <span class="text_pool">Beggar</span>
            </a>
            <a class="pro_pool" href="/?pool=Demon Beggar">
                <span class="text_pool">Demon Beggar</span>
            </a>
            <a class="pro_pool" href="/?pool=Key Beggar">
                <span class="text_pool">Key Beggar</span>
            </a>
            <a class="pro_pool" href="/?pool=Bomb Beggar">
                <span class="text_pool">Bomb Beggar</span>
            </a>
            <a class="pro_pool" href="/?pool=Crane Game">
                <span class="text_pool">Crane Game</span>
            </a>
            <a class="pro_pool" href="/?pool=Arcade">
                <span class="text_pool">Arcade</span>
            </a>
        </div>
    </container>

    <div class="activ--">
        <a class="activ_bloc" href="/?recharge=active">
            <span class="icon-1"></span>
            <span class="icon-2"></span>
            <span class="activable_ico">Activable</span>
        </a>
        <a class="activ_bloc" href="/?recharge=passive">
            <span class="icon-1"></span>
            <span>Passif</span>
        </a>

    </div>

    <container class="container_table">
        <table>
            <th>item id</th>
            <th>Nom</th>
            <th>image</th>
            <th>quote</th>
            <th>quality</th>
            <th>charges</th>
            <th>Item Pool</th>
            {% for item in items %}
            <tr>
                <td>{{ item[1] }}</td>
                <td>{{ item[0] }}</td>
                <td class="td_ico"><img class="ico" src="{{ item[2] }}" alt="{{ item[0] }}"
                        referrerpolicy="no-referrer">
                </td>
                <td>{{ item[3] }}</td>
                <td>{{ item[4] }}</td>
                <td>{{ item[5] }}</td>
                <td>{{ item[6] }}</td>
            </tr>
            {% endfor %}
        </table>
    </container>
</body>

</html>